/* @tailwind base; */
@tailwind components;
@tailwind utilities;


@layer components{
  .container{
    @apply h-[100px] flex justify-center items-center
  }
  .mobileMenu{
    @apply absolute right-0 top-[100px] w-1/2 h-[calc(100vh-100px)] bg-[rebeccapurple];
  }
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg: #0d0c22;
  --bgSoft:#2d2b42;
  --textSoft:#e5e5e5;
  --text:white;
  --btn:#3673fd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 14, 12, 35;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--text);
  /* background: linear-gradient(
      to bottom,
      transparent,
      "rgb(var(--background-end-rgb))"
    )
    rgb(var(--background-start-rgb)); */
    background-color: #0e0c23;
}
a{
  text-decoration: none;
  color: inherit;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
